html, body, canvas {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	font-family: 'Lucida Console', sans-serif;
}

.hud {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('../img/crosshair.png') no-repeat 50% 50%;
	z-index: 100;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none;
}

.level {
	width: 100%;
	height: 100%;
	position: absolute;
	background: black;
	z-index: 200;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none;
	font-family: 'Console', sans-serif;
	color: lightblue;
	font-size: 15vw;
	text-align: center;
	padding-top: 30vh;
}

.levelNumber {

}

.closeMapHint {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	text-align: center;
	font-family: 'Lucida Console', sans-serif;
	color: lightblue;
	display: none;
	text-shadow: 1px 1px 1px black;
}

.modal-dialog {
	background: url('../img/panel_render.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	height: 600px;
	padding-top: 7px;
	box-shadow: 5px 5px 15px black;
}
.modal-content{
	height: 475px;
	border-radius: 0;
	margin: 55px 68px;
	font-size: 18px;
	color: lightgreen;
	text-shadow: -1px -1px #111, 1px 1px #5F615D;
	background: darkolivegreen;
	box-shadow: inset 0 0 15px #111;
	border: 1px solid #222;
}

input {
	background: darkolivegreen;
	border: none;
	border-bottom: 1px solid lightgreen;
	outline: none;
	text-shadow: -1px -1px #141, 1px 1px #5F615D;
}

.modal-body {
	height: 265px;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal-header,
.modal-footer {
	border: none;
}

.modal-footer {
	text-align: center;
}

button.btn.btn-primary {
	color: lightgreen;
	border-radius: 0;
	background: transparent;
	border: 2px solid lightgreen;
	box-shadow: -1px -1px #141, 1px 1px #5F615D;
	text-shadow: -1px -1px #141, 1px 1px #5F615D;
	font-size: 18px;
	margin-bottom: 15px;
}

table.highscores {
	width: 80%;
	margin: 0 auto;
}

table.highscores td{
	padding: 0 0 0 5px;
}
table.highscores tr.me{
	background: #2B4E2D;
}