@keyframes screenFlickering {
	0% {
		background-color: rgba($slate, $screenAlpha);
		box-shadow: inset 0 0 $menuInsetShadowWidth $lightSlate, 0 0 $menuShadowWidth $lightSlate;
	}
	20% {
		background-color: rgba(darken($slate, 4%), $screenAlpha);
		box-shadow: inset 0 0 $menuInsetShadowWidth $lightSlate, 0 0 $menuShadowWidth $lightSlate;
	}
	40% {
		background-color: rgba($slate, $screenAlpha);
		box-shadow: inset 0 0 $menuInsetShadowWidth $lightSlate, 0 0 $menuShadowWidth $lightSlate;
	}
	41% {
		background-color: rgba($slate, $screenAlpha);
		box-shadow: inset 0 0 $menuInsetShadowWidth darken($lightSlate, 10%), 0 0 $menuShadowWidth darken($lightSlate, 10%);
	}
	44% {
		background-color: rgba($slate, $screenAlpha);
		box-shadow: inset 0 0 $menuInsetShadowWidth $lightSlate, 0 0 $menuShadowWidth $lightSlate;
	}
	75% {
		background-color: rgba(darken($slate, 4%), $screenAlpha);
		box-shadow: inset 0 0 $menuInsetShadowWidth $lightSlate, 0 0 $menuShadowWidth $lightSlate;
	}
	94% {
		background-color: rgba($slate, $screenAlpha);
		box-shadow: inset 0 0 $menuInsetShadowWidth $lightSlate, 0 0 $menuShadowWidth $lightSlate;
	}
	96% {
		background-color: rgba(lighten($slate, 4%), $screenAlpha);
		box-shadow: inset 0 0 $menuInsetShadowWidth $lightSlate, 0 0 $menuShadowWidth lighten($lightSlate, 5%);
	}
	97% {
		background-color: rgba(darken($slate, 3%), $screenAlpha);
		box-shadow: inset 0 0 $menuInsetShadowWidth darken($lightSlate, 15%), 0 0 $menuShadowWidth darken($lightSlate, 15%);
	}
	100% {
		background-color: rgba(lighten($slate, 4%), $screenAlpha);
		box-shadow: inset 0 0 $menuInsetShadowWidth $lightSlate, 0 0 $menuShadowWidth lighten($lightSlate, 5%);
	}
}