<div ng-if="gameData.playerIsDead">
	<div class="menu-header">
		<h4>You died!</h4>
	</div>

	<div class="menu-body">
		<div class="content">
			<form class="nickname text-center" ng-if="!highscoreData.submitted">
				<div class="destroyed-message">
					<p>Sorry bro, you didn't make it. :(</p>
					<p><strong>But hey, cheer up, you got to level {{highscoreData.level}}!</strong></p>
					<p>And you can always try again, starting from level 1 of course. Maybe next time you can advance
						further.</p>
				</div>
				<br/>
				<p>
					<label for="name">Nickname</label>
					<input type="text" id="name" name="name" ng-model="highscoreData.name"/>
				</p>
			</form>
		</div>

		<div class="content" ng-if="highscoreData.submitted">
			<h4>Highscores</h4>
			<div ng-include="'templates/partials/highscores.html'"></div>
		</div>
	</div>

	<div class="menu-footer">
		<ul class="list-unstyled" ng-if="gameData.playerIsDead">
			<li ng-if="!highscoreData.submitted">
				<button type="button" class="btn btn-primary" ng-click="saveHighscore()">
					Save Score
				</button>
			</li>
			<li>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="restart()">
					Restart (Level 1)
				</button>
			</li>
		</ul>
	</div>

</div>