<div ng-if="!gameData.playerIsDead">

	<!--- TOP LEVEL MENU -->
	<div ng-if="!selectedEntry">

		<div class="menu-header">
			<h4>Maze Descent v{{versionNumber}}</h4>
		</div>

		<div class="menu-body">
			<ul class="list-unstyled">
				<li ng-repeat="entry in menu">
					<a href="#" ng-click="selectEntry(entry)">{{entry.name}}</a>
				</li>
			</ul>
		</div>

	</div>

	<!--- SUB MENU -->
	<div ng-if="selectedEntry">

		<div class="menu-header">
			<h4>{{selectedEntry.name}}</h4>
		</div>

		<div class="menu-body">
			<ul class="list-unstyled">
				<li ng-repeat="subEntry in selectedEntry.subMenu">
					<a href="#" ng-click="subEntry.action()">{{subEntry.name}}</a>
				</li>
			</ul>

			<div class="content" ng-if="selectedEntry.name == 'Highscores'">
				<div ng-include="'templates/partials/highscores.html'"></div>
			</div>

			<div class="content" ng-if="selectedEntry.name == 'Options'">
				<div ng-include="'templates/partials/options.html'"></div>
			</div>
		</div>

	</div>

	<div class="menu-footer">
		<ul class="list-unstyled">
			<li>
				<button ng-click="selectEntry(null)" ng-if="selectedEntry">
					&lt; Back
				</button>
			</li>
		</ul>
	</div>

</div>